.one{
    margin: 0px;
    padding: 0;
    width: 1280px;
    height: 738px;
    background-color:#8CC461;
    
}
.two{
    position: absolute;
    margin: 0px;
    width: 800px;
    height: 158px;
    top: 62px;
    left: 240px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}
.three{
    width: 150px;
    height: 37px;
    top: 120px;
    right: 258px;
    font-family: Roboto;
    color:#FFFFFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;
    
}
.four{
    width: 150px;
    height: 37px;
    top: 120px;
    right: 258px;
    font: roboto;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;
    
}
.five{
    width: 235px;
    height: 37px;
    top: 120px;
    right: 258px;
    font-family: Roboto;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;
    
}
.six{
    position: absolute;
    width: 139px;
    height: 128px;
    top: 10px;
    left: 650px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 10px;

}
.seven{
    position: absolute;
    width: 139px;
    height: 128px;
    top: 10px;
    left: 500px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 10px;

}
#ei{
    width: 103px;
    height: 20px;
    top: 84px;
    left: 730px;
    font-family: Roboto;
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    
}
#ni{
    width: 103px;
    height: 20px;
    top: 84px;
    left: 730px;
    font-family: Roboto;
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    
    
}
.rock{
    position: absolute;
    width: 80px;
    height: 58.51px;
    top: 351px;
    left: 492px;
    border-radius: 50%;
    padding: 2%;
        
}
.scissor{
    position: absolute;
    width: 37px;
    height: 53.5px;
    top: 352px;
    left: 751.92px;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 2%;
}
.paper{
    position: absolute;
    width: 72px;
    height: 72px;
    top: 552px;
    left: 614px;
    background-color: #FFFFFF;
    border-radius: 100%;
    padding: 2%;
    

}
.rule{
    position: absolute;
    width: 72px;
    height: 20px;
    top: 683px;
    left: 1160px;  
}
#result{
    position: absolute;
    width: 80px;
    height: 58.51px;
    top: 340px;
    left: 650px;
    font: roboto;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;
      
}
.cup{
position: absolute;
width: 200.43px;
height: 201px;
top: 189px;
left: 557px;

}
.star{
    position: absolute;
    width: 115px;
height: 115px;
top: 198px;
left: 388px;

}
.star2{
    position: absolute;
    width: 130px;
height: 130px;
top: 246px;
left: 762px;    

}
.star3{
    position: absolute;
    width: 30px;
height: 32px;
top: 80px;
left: 610px;
}
.txt{
  
color: #FFFFFF;    
font-family: Roboto;
font-size: 45px;
font-weight: 4000;
line-height: 107px;
letter-spacing: 0.1em;
text-align: center;
top: 500px;
}
.fist{
    position: absolute;
    width: 80px;
    height: 58.51px;
    top: 351px;
    left: 492px;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 3%;
    border: none;
        
}
#rulesBox {
    position: absolute;
    top: 300px;
    left: 900px;
    background-color: darkgreen;
    color: #FFFFFF;
    display: none;
    border: 6px solid #ccc;
    border-radius: 10%;
    padding: 10px;
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }